/* ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ */
:root {
  --background-color: #ffffffc6;
  --second-color: #E2E2E2;
    --third-color: #999999;
    --link-color: #7A1DDB;
    --accent-color: #79D1C3;
  --card-bg: #F5F5F5;
  --blur: blur(5px);
  
  --first-radius: 16px;
  --second-radius: 8px;

  --font-size: 12pt;
  --small-font-size: 8pt;
  
  --font-main: 'Helvetica', Arial, sans-serif;
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    --inside-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.338);
}

/* ОБНУЛЕНИЕ И БАЗОВЫЕ СТИЛИ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font-main);
    color: #333;
}

/* ОСНОВНАЯ СЕТКА */
.app-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-right: 24px;
}

/* БОКОВАЯ ПАНЕЛЬ */
.sidebar {
    width: 256px;
    margin: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    min-width: 256px;
}

.sidebar-body {
    padding: 16px;
    background-color: var(--second-color);
    border-radius: var(--first-radius);
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    box-shadow: var(--shadow);
}

.logo {
    display: flex;
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: var(--second-radius);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

.folder-icon img {
    margin-left: 16px;
    width: 20px;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories li {
    padding: 7px 16px;
    border-radius: var(--second-radius);
    cursor: pointer;
    margin-bottom: 4px;
}

.categories li.active {
    background-color: var(--accent-color);
    box-shadow: var(--shadow);
}


/* Контейнер внизу сайдбара */
.sidebar-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Кружочек с градиентом */
.gradient-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background: conic-gradient(red, #EA960E, #D4D71B, #57C428, #32B5B3, #3A5DA9, #6F4A92, red);
    cursor: pointer;
}

/* Кнопка О сайте */
.about-btn {
    flex-grow: 1;
    height: 32px;
    background-color: var(--second-color);
    border-radius: var(--first-radius);
    font-family: var(--font-main);
    font-size: var(--font-main);
    cursor: pointer;
    border: none;
    transition: background 0.2s;
    box-shadow: var(--shadow);
}

.about-btn:hover {
    background-color: #ebebeb;
}


/* ОБЛАСТЬ КОНТЕНТА */
.content-area {
    flex-grow: 1; /* Занимает всё оставшееся пространство */
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ПОИСК И ФИЛЬТР */
.content-header {
    display: flex;
    align-items: center;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 16px;
}

.search-bar-input {
    background-color: var(--second-color);
    font-family: var(--font-main);
    border-radius: var(--second-radius);
    border: none;
    width: 265px;
    height: 32px;
    padding: 8px 16px;
    box-shadow: var(--inside-shadow);
}

.search-bar-input::placeholder {
    color: #757575;
    opacity: 1;
}

.view-switch {
    margin-left: auto;
    display: flex;
}

.view-switch button {
    background: none;
    border: none;
    padding: 4px 12px;
    border-bottom: 1px solid #B2B2B2;
    color: #B2B2B2;
}

.view-switch button.active {
    color: #303030;
    border-bottom: 2px solid #303030;
}


/* ЗАПИСИ */

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: var(--accent-color);
    border-radius: var(--second-radius);
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-style: italic;
}

.card-header {
    display: flex;
}

.category-select {
    font-size: var(--font-main);
    font-family: var(--font-main);
    border: none;
    border-radius: var(--second-radius);
    max-width: 140px;
    overflow: hidden;
    padding: 4px 8px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.header-link {
    display: flex;
    margin-left: auto;
    background-color: var(--second-color);
    align-items: center;
    border-radius: var(--second-radius);
    box-shadow: var(--shadow);
    border: 1px solid #ADADAD;
}

.link-icon {
    height: 16px;
    margin: 5px 8px;
    cursor: pointer;
}

.source-link {
    text-decoration: none;
    color: black;
    margin: 5px 8px;
    font-size: var(--font-main);
    max-width: 200px;
    overflow: hidden;
}

.card-content {
    background-color: white;
    border-radius: var(--second-radius);
    box-shadow: var(--shadow);
    padding: 12px 42px 25px 16px;
    position: relative;
}

.card-body .main-link {
    display: block;
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--font-main);
    font-family: var(--font-main);
    margin-bottom: 8px;
}

.card-body p {
    margin: 0;
    font-family: var(--font-main);
    font-size: var(--font-main);
}

.card-footer {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: var(--font-main);
    font-family: var(--font-main);
    color: #AEAEAE;
}




/* МОДАЛЬНОЕ ОКНО*/

/* Фон (затемнение) */
.modal-overlay {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.562);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Модальное окно */
.modal-content {
    background: var(--second-color);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    padding: 16px;
    border-radius: var(--first-radius);
    position: relative;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
}


/* поиск */

.search-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 56%;
}


.search-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: var(--second-radius);
    outline: none;
    box-shadow: var(--inside-shadow);
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-button:hover {
    color: #000;
}

.search-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 8px;
}


.result-card {
    background-color: var(--background-color);
    border-radius: var(--second-radius);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: var(--shadow);
}

.result-footer {
    display: flex;
    justify-content: space-between;
    color: var(--third-color);
}

.search-summary {
    flex-shrink: 0;
    text-align: right;
    margin-top: 8px;
    width: 100%;
}

/* Стилизация всей полосы прокрутки */
.search-results::-webkit-scrollbar {
    width: 6px;
}

.search-results::-webkit-scrollbar-track {
    background: transparent;
}

.search-results::-webkit-scrollbar-thumb {
    background-color: var(--third-color);
    border-radius: 10px;
    border: 2px solid transparent;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

.search-results {
    scrollbar-width: thin;
    scrollbar-color: var(--third-color) transparent;
}